@tailwind base;
@tailwind components;

/* Importing scrollbar css */
@import './scrollbar.css';
@import './rc-collapse.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menuIcon {
  width: 26px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bar {
  width: 13px;
  height: 3px;
  display: flex;
  transition: all 0.25s ease-in-out;
  @apply bg-white;
  @apply rounded-sm;
}

.bar:nth-child(2) {
  width: 26px;
  margin: 5px 0;
}

.bar:last-child {
  width: 18px;
}

.menuBtn:hover .bar:first-child {
  width: 26px;
}

.menuBtn:hover .bar:nth-child(2) {
  width: 13px;
}
.menu-item.active:before {
  content: '';
  width: 3px;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  @apply bg-gray-900;
}

.menu-scrollbar {
  max-height: calc(100vh - 138px);
  -webkit-overflow-scrolling: touch;
}

/* .pt-90px {
  padding-top: 90px;
}
.h-90px {
  height: 90px;
} */

/* Cart */
.drawer {
  height: 100%;
  max-width: 450px;
  z-index: 22;
  bottom: 0;

  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply bg-white;
  @apply fixed;
  @apply transition;
  @apply duration-350;
  @apply ease-in-out;
}

.drawer-cart {
  right: 0;
  transform: translate(450px, 0);
}

.drawer-menu {
  left: 0;
  transform: translate(-450px, 0);
}

.drawer-cart.open,
.drawer-menu.open {
  transform: translate(0, 0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 21;
  @apply w-full;
  @apply h-full;
  @apply flex;
  @apply fixed;
  @apply top-0;
  @apply left-0;
}

/* footer Social icons */
.social {
  color: #999999;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

.social:last-child {
  margin-right: 0;
}

.social.facebook:hover {
  color: #3b5999;
}

.social.twitter:hover {
  color: #55acee;
}

.social.youtube:hover {
  color: #cd201f;
}

.social.github:hover {
  color: #211f1f;
}

.social.instagram:hover {
  color: #e4405f;
}

.social.linkedin:hover {
  color: #0077b5;
}


@tailwind utilities;